nod-red/flows.json
[{"id":"7d8d59200331e193","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"760db8afa60de92f","type":"mqtt-broker","name":"","broker":"broker.hivemq.com","port":1883,"clientid":"","autoConnect":true,"usetls":false,"protocolVersion":4,"keepalive":60,"cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"073f4de5059f9715","type":"MySQLdatabase","name":"Aiven","host":"mysql-3daba4e-echa.f.aivencloud.com","port":"28914","db":"defaultdb","tz":"","charset":"UTF8"},{"id":"72e5fbc40b67e078","type":"mqtt in","z":"7d8d59200331e193","name":"Temperatura","topic":"mel_temp","qos":"2","datatype":"auto-detect","broker":"760db8afa60de92f","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":460,"wires":[["2ce7c3b256922bc1"]]},{"id":"e791028a044f02eb","type":"mqtt in","z":"7d8d59200331e193","name":"Umidade","topic":"mel_umid","qos":"2","datatype":"auto-detect","broker":"760db8afa60de92f","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":580,"wires":[["2066b1464d2f4c0a"]]},{"id":"2ce7c3b256922bc1","type":"debug","z":"7d8d59200331e193","name":"Saida_Temperatura","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":500,"wires":[]},{"id":"2066b1464d2f4c0a","type":"debug","z":"7d8d59200331e193","name":"Saida_Umidade","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":560,"wires":[]},{"id":"0514e74a5b6ada2e","type":"mysql","z":"7d8d59200331e193","mydb":"073f4de5059f9715","name":"Aiven_MySQL","x":220,"y":680,"wires":[[]]},{"id":"33b60a24add939f3","type":"global-config","env":[],"modules":{"node-red-node-mysql":"2.0.0"}}]